<div class="jumbotron">
    <h3 class="text-center">DroneTest</h3>
    <div class="container">
        <div class="row">
            <div class="alert alert-warning" role="alert" ng-if="loading">LOADING...please wait</div>
            <div class="alert alert-danger" role="alert" ng-if="error">{{error}}</div>
            DRONE STATUS:
            <div class="alert alert-danger" role="alert" ng-if="!droneconnected">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true">
                    DISCONNECTED (check nodejs service at port 3001)
                </span>
            </div>
            <div class="alert alert-success" role="alert" ng-if="droneconnected">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true">
                    CONNECTED - <span>{{dronestatus}}</span>
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-9">
                <div ng-if="matrix.length > 0" class=" matrix-container">
                    <h4 class="text-center">Urbanization matrix</h4>
                    <ul>
                        <li><span class="startnode">STARTING NODE</span></li>
                        <li><span class="currentpos">CURRENT DRONE POSITION</span></li>
                        <li><span class="neighbor">NEIGHBORHOOD</span></li>
                        <li><span class="pool">NODE HAS POOL</span></li>
                    </ul>
                    <div class="table-responsive">
                        <table class="table table-matrix">
                            <tbody>
                                <tr ng-repeat="rows in matrix" class="matrix-row">
                                    <td ng-repeat="item in rows" ng-class="{'neighbor': neighborhoods.indexOf(item) != -1, 'startnode': startNodeX == $index && startNodeY == $parent.$index,'pool': pools.indexOf(item) != -1,'currentpos': droneposition.x == $parent.$index && droneposition.y == $index, 'matrix-cell text-center' : 1==1}">
                                        {{item}} ({{$index}},{{$parent.$index}})
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button ng-disabled="disabled"  type="submit" class="btn btn-primary btn-lg" ng-click="startDrone()">
                    Start drone
                    </button>
                </div>

            </div>
            <div class="col-md-3 commands">
                <form name="myForm" role="search">
                    <div class="form-group">
                        <label for="rows">MATRIX ROWS:</label>
                        <input ng-disabled="disabled" name="rows" ng-model="rows" required type="number" min="1" max="100" class="form-control" placeholder="matrix rows">

                        <label for="cols">MATRIX COLUMNS:</label>
                        <input ng-disabled="disabled" name="cols" ng-model="cols" required type="number" min="1" max="100" class="form-control" placeholder="matrix columns">
                    </div>
                    <div class="form-group">
                        <label for="startNodeX">STARTING NODE X:</label>
                        <input ng-disabled="disabled" name="startNodeX" ng-model="startNodeX" type="number" min="0" max="100" class="form-control"
                            placeholder="start node x">

                        <label for="startNodeY">STARTING NODE Y:</label>
                        <input ng-disabled="disabled" name="startNodeY" ng-model="startNodeY" type="number" min="0" max="100" class="form-control"
                            placeholder="start node y">

                        <label for="range">RANGE:</label>
                        <input ng-disabled="disabled" name="range" ng-model="range" type="number" min="1" max="100" class="form-control" placeholder="range">
                    </div>
                    <div class="form-group">

                        <button ng-disabled="disabled" type="submit" class="btn btn-primary" ng-click="getNeighborHoods()">
                        Get Neighborhoods
                    </button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>