<div class="jumbotron">
    <h3 class="text-center">DroneTest</h3>
    <div class="container">
        <div class="col-md-9">
            <div ng-if="matrix.length > 0" class=" matrix-container">
                <h4 class="text-center">Urbanization matrix</h4>
                <ul>
                    <li><span class="startnode">STARTING NODE</span></li>
                </ul>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="rows in matrix" class="matrix-row">
                                <td ng-repeat="item in rows" ng-class="startNodeX == $parent.$index && startNodeY == $index ? 'matrix-cell text-center startnode' : 'matrix-cell text-center'">
                                    {{item}} ({{$parent.$index}},{{$index}})
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary" ng-click="startDrone()">
                    Start drone
                </button>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="error">{{error}}</div>
        </div>
        <div class="col-md-3 commands">
            <form name="myForm" role="search">
                <div class="form-group">
                    <label for="rows">MATRIX ROWS:</label>
                    <input name="rows" ng-model="rows" required type="number" min="1" max="100" class="form-control" placeholder="matrix rows">

                    <label for="cols">MATRIX COLUMNS:</label>
                    <input name="cols" ng-model="cols" required type="number" min="1" max="100" class="form-control" placeholder="matrix columns">
                </div>
                <div class="form-group">
                    <label for="startNodeX">STARTING NODE X:</label>
                    <input name="startNodeX" ng-model="startNodeX" type="number" min="0" max="100" class="form-control" placeholder="start node x">

                    <label for="startNodeY">STARTING NODE Y:</label>
                    <input name="startNodeY" ng-model="startNodeY" type="number" min="0" max="100" class="form-control" placeholder="start node y">

                    <label for="range">RANGE:</label>
                    <input name="range" ng-model="range" type="number" min="1" max="100" class="form-control" placeholder="range">
                </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-primary" ng-click="getNeighborHoods()">
                        Get Neighborhoods
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>